db_dockerfile/Dockerfile
database/
__pycache__/
.env.dev
README.md
.dockerignore
firebase-config.json
reverse_proxy/
init.sql
docker-compose-stack.yml
Google_Cloud_credentials.json
docker-compose.yml
.env.sematext.dev
.env.local
elpaso_frontend/node_modules
yarn.lock
elpaso_frontend/Dockerfile
elpaso/Dockerfile
.env.database.dev
.gitignore






