.signin-container {
  display: flex;
  height: 100%;
}

.signin-form {
  width: 40%;
  z-index: 1;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .signin-form {
    width: 80%;
    z-index: 1;
    align-self: center;
  }
}
