@media only screen and (min-width: 600px) {
  .elements {
    position: absolute;
    top: 30%;
    animation: move 2.5s linear infinite;
  }
}

@media only screen and (max-width: 600px) {
  .elements {
    position: absolute;
    top: 10%;
    height: 20%;
    animation: move 2.5s linear infinite;
  }
}

@keyframes move {
  0% {
    transform: translate(-15px, 0px);
  }
  50% {
    transform: translate(0px, -15px);
  }
  100% {
    transform: translate(-15px, 0px);
  }
}

.animation-options-image {
  margin-left: 60%;
  margin-top: 10%;
}

@media only screen and (max-width: 600px) {
  .animation-options-image {
    margin-left: 30%;
    margin-top: 10%;
    height: 90%;
    position: absolute;
  }
}
